= render partial: 'layouts/header'
- breadcrumb :user_show
= render "layouts/breadcrumbs"
.wrapper_mypage
  .contents__mypage
    = render partial: 'layouts/sidemenu'
    .search_view
      .search_results
        .search_result
          %h2.search_result--head
            購入した商品
        .search_lists 
          - if @buyer.present?
            .item_jscroll
               
              - @buyer.each do |buyer|
                -# = buyer.item
                .search_list
                  =link_to item_path(id: buyer.item.id) ,class:"search_list__item" do
                    -buyer.item.images.first(1).each do |image|
                      = image_tag image.image.url, class:"search_list__item__img"
                    .search_list__body
                      = buyer.item.name 
                      .place
                        %ul
                          = buyer.item.price
                          円
                          %li
                            %i{class:"fa fa-star likeicon"}0
                        %p （税込）
                    .sold_tag
                      .sold_tag__inner
                        SOLD
              .item_scroll
                = link_to_prev_page @buyer, '前', class: "prev"
                = link_to_next_page @buyer, '次', class: "next"                       
          - else
            .nothing 
              .nothing__message 商品がありません      
        
= render partial: 'layouts/footer'
= render partial: 'layouts/puts_up' 