= render partial: 'layouts/header'
- breadcrumb :user_show
= render "layouts/breadcrumbs"
.wrapper_mypage
  .contents__mypage
    = render partial: 'layouts/sidemenu'
    .main-box
      %h2.main-box__title
        ="#{current_user.nickname}さんのマイページ"
      .main-box__notice
        .main-box__notice__subtitle
          %h3.main-box__subtitle__important 重要なお知らせ
        .main-box__notice__body
          .main-box__notice__body__inbox
            .main-box__notice__body__inbox__left
              %h4.main-box__notice__body__inbox__streetaddres 住所の設定を行ってください。<br>
              スムーズに購入を進めるために住所の設定を行ってください。
        .main-box__notice__recently
          .main-box__notice__recently__subsubtitle 最近見た商品
          .main-box__notice__recently__body2
            %p.main-box__center
              %p.main-box__text 商品を閲覧するとここに履歴が表示されます。お気に入りの商品を見つけましょう！
      .main-box__group
        .main-box__submenu
          %h1.main-box__menutitle1 注目ブランド
          %li.main-box__category1
            =link_to "NIKE"
          %li.main-box__category2
            =link_to "GU"
          %li.main-box__category3
            =link_to "ZARA"
        .main-box__submenu
          %h1.main-box__menutitle1 コンテンツ
          %li.main-box__category1
            =link_to "ブランド一覧"
          %li.main-box__category2
            =link_to "カテゴリ一覧"
          %li.main-box__category3
            =link_to "キーワード一覧"
        .main-box__submenu
          %h1.main-box__menutitle1 ガイド
          %li.main-box__category1
            =link_to "公式ガイド"
          %li.main-box_category2
            =link_to "初めての方へ"
          %li.main-box__category3
            =link_to "お知らせ"
= render partial: 'layouts/footer'
= render partial: 'layouts/puts_up'
