=form_with url: purchases_path, method: :post, local: true do |f|
  =f.hidden_field :item_id, value: @item.id
  .top_icon
    =image_tag(asset_path("logo.png"))
  .confirm_contents
    .content_top_message
      購入内容の確認
    .items
      .items__image
        = image_tag @item.images.first.image.url
      .items__title
        .items__title__bar
          =@item.name
        .items__title__price
          .items__title__price__board
            = "#{@item.price}円"
          .items__title__price__comment
            (送料込)
    %hr
    .payment_amount
      .payment_amount__title
        支払い金額
      .payment_amount__price
        = "#{@item.price}円"
    %hr
    .payment_method
      =f.hidden_field :creditcard_id, value: @creditcard.id
      .payment_method__title
        .payment_method__title__bar
          クレジットカード
        =link_to "変更する >", class: "change"
      .credit_card
        .credit_card__no
        = "**** **** **** "+ @creditcard_payjp.last4
        .credit_card__expiration
          .credit_card__expiration__title
            有効期限
          .credit_card__expiration__date
            = @creditcard_payjp.exp_year
            = @creditcard_payjp.exp_month
        .credit_card__company
          VISA
    %hr
    .confirm_adress
      =f.hidden_field :address_id, value: @address.id
      .confirm_adress__title
        .confirm_adress__title__bar
          配送先
        =link_to "変更する >", class: "change"
      .confirm_adress__zip_code
        = current_user.addresses[0].zip
      .confirm_adress__code
        = current_user.addresses[0].prefecture
        = current_user.addresses[0].city
        = current_user.addresses[0].address_line
        = current_user.addresses[0].building
      .confirm_adress__name
        = current_user.addresses[0].lastname
        = current_user.addresses[0].firstname
    %hr
    .content_bottom
      郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。

    .confirm_btn
      .confirm_btn__buy
        %button{ onclick: "#", type: "submit", value: ""}購入する
      .confirm_btn__cancel
        =link_to "やめる", root_path

  .bottom_area
