.detail_search
  = search_form_for(@q,url: detail_search_searches_path) do |f|
    -#  並び替え
    .detail_search__sort
      = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { onchange: 'this.form.submit()'} )
    
    -# キーワード検索
    .detail_search__form
      .detail_search__form__title
        %h3 詳細検索
      .detail_search__form__group
        .detail_search__form__group--label
          %p キーワード
        = f.search_field :name_cont, placeholder: "キーワードを入力"
      
      -# 価格の絞り込み
      .detail_search__form__group
        .detail_search__form__group--label
          %p 価格
        .detail_search__form__group--forms
          = f.number_field :price_gteq, placeholder: "¥ Min"
          %p 〜
          = f.number_field :price_lteq, placeholder: "¥ Max"
      
      -# カテゴリーによる絞り込み
      .detail_search__group
        .detail_search__group--label
          %p カテゴリー
        .detail_search__group--checkbox
          
          %label
            -# = f.collection_select :parent_name_eq, Category.where(ancestry: nil), :id, :name, {selected:@item.category.parent.parent.id}, {class: "category_0 text_box"}
            -# = f.select :child_id_eq, options_for_select(@category_children_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.parent.id}),{}, {class: 'category_1 text_box'}
            -# = f.select :category_id_eq, options_for_select(@category_grandchildren_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.id}),{}, {class: 'category_2 text_box' } 
            
            = f.collection_select :category_id_eq, Category.where(ancestry: nil), :id, :name, {prompt: "メインカテゴリを選ぶ"}, {class: "category_0 text_box"}
            = f.collection_select :category_id_eq, {}, :id, :name, {prompt: "メインカテゴリを選んでください"}, {class: "category_1 text_box"} 
            = f.collection_select :category_id_eq, {}, :id, :name, {prompt: "メインカテゴリを選んでください"}, {class: "category_2 text_box"}
            
      -# 状態の絞り込み     
      .detail_search__group
        .detail_search__group--label
          %p 商品の状態
        .detail_search__group--checkbox
          %label
            %input{type: "checkbox"}
            = 'すべて'
        .detail_search__group--checkbox
          %label
            = f.check_box(:condition_in,{:multiple=>true},"1",nil)
            = '新品、未使用'
        .detail_search__group--checkbox
          %label
            = f.check_box(:condition_in,{:multiple=>true},"2",nil)
            = '未使用に近い'
        .detail_search__group--checkbox
          %label
            = f.check_box(:condition_in,{:multiple=>true},"3",nil)
            = '目立った傷や汚れなし'
        .detail_search__group--checkbox
          %label
            = f.check_box(:condition_in,{:multiple=>true},"4",nil)
            = 'やや傷や汚れあり'
        .detail_search__group--checkbox
          %label
            = f.check_box(:condition_in,{:multiple=>true},"5",nil)
            = '傷や汚れあり'
        .detail_search__group--checkbox
          %label
            = f.check_box(:condition_in,{:multiple=>true},"6",nil)
            = '全体的に状態が悪い' 
            
        -# .detail_search__group--checkbox
        -#   - Post.tags_i18n.each do |tag|
        -#     = check_box_tag('q[tag_eq_any][]', Post.tags[tag.first], params[:q].present?&&params[:q]["tag_eq_any"].present?&&params[:q]["tag_eq_any"].include?("#{Post.tags[tag.first]}")
        -#     = tag.last    
            
      -# 送料負担の絞り込み      
      .detail_search__group
        .detail_search__group--label
          %p 送料の負担
        .detail_search__group--checkbox
          %label
            = f.radio_button :shipping_pay_eq, '', {:checked => true}
            = 'すべて'
        .detail_search__group--checkbox
          %label
            = f.radio_button :shipping_pay_eq, "0"
            = '送料込み(出品者負担)'
        .detail_search__group--checkbox
          %label
            = f.radio_button :shipping_pay_eq, "1"
            = '着払い(購入者負担)'

      .detail_search__form__btn
        .detail_search__form__btn--grey
          = link_to "クリア", "/searches",type: "button"
        = f.submit "検索", class:"detail_search__form__btn--red"