.detail_search
  = search_form_for(@q,url: detail_search_searches_path) do |f|
    .detail_search__sort
      = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { onchange: 'this.form.submit()'} )
    .detail_search__form
      .detail_search__form__title
        %h3 詳細検索
      .detail_search__form__group
        .detail_search__form__group--label
          %p キーワード
        = f.search_field :name_cont, placeholder: "キーワードを入力"
      .detail_search__form__group
        .detail_search__form__group--label
          %p 価格
        .detail_search__form__group--forms
          = f.search_field :price_gteq, placeholder: "¥ Min"
          %p 〜
          = f.search_field :price_lteq, placeholder: "¥ Max"
      
      .detail_search__group
        .detail_search__group--label
          %p カテゴリー
        .detail_search__group--checkbox
          %label
            -# = f.collection_select :parent_name_eq, Category.where(ancestry: nil), :id, :name, {selected:@item.category.parent.parent.id}, {class: "category_0 text_box"}
            -# = f.select :child_id_eq, options_for_select(@category_children_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.parent.id}),{}, {class: 'category_1 text_box'}
            -# = f.select :category_id_eq, options_for_select(@category_grandchildren_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.id}),{}, {class: 'category_2 text_box' } 
            = f.collection_select :category_id_eq, Category.where(ancestry: nil), :id, :name, {prompt: "メインカテゴリを選ぶ"}, {class: "category_0 text_box"}
            = f.collection_select :category_id_eq, {}, :id, :name, {prompt: "メインカテゴリを選んでください"}, {class: "category_1 text_box"}
            = f.collection_select :category_id_eq, {}, :id, :name, {prompt: "メインカテゴリを選んでください"}, {class: "category_2 text_box"}
            -# = f.label :category_id_eq, 'カテゴリー'
            -# = f.collection_select :category_id_eq, @items, :id, :category_id, :include_blank => '指定なし'
            -# = f.radio_button :condition_eq, '', {:checked => true}
            -# = 'すべて'

      .detail_search__group
        .detail_search__group--label
          %p 商品の状態
        .detail_search__group--checkbox
          %label
            = f.radio_button :condition_eq, '', {:checked => true}
            = 'すべて'
        .detail_search__group--checkbox
          %label
            = f.radio_button :condition_eq, "1"
            = '新品、未使用'
        .detail_search__group--checkbox
          %label
            = f.radio_button :condition_eq, "2"
            = '未使用に近い'
        .detail_search__group--checkbox
          %label
            = f.radio_button :condition_eq, "3"
            = '目立った傷や汚れなし'
        .detail_search__group--checkbox
          %label
            = f.radio_button :condition_eq, "4"
            = 'やや傷や汚れあり'
        .detail_search__group--checkbox
          %label
            = f.radio_button :condition_eq, "5"
            = '傷や汚れあり'
        .detail_search__group--checkbox
          %label
            = f.radio_button :condition_eq, "6"
            = '全体的に状態が悪い'  
      .detail_search__group
        .detail_search__group--label
          %p 送料の負担
        .detail_search__group--checkbox
          %label
            = f.radio_button :shipping_pay_eq, '', {:checked => true}
            = 'すべて'
        .detail_search__group--checkbox
          %label
            = f.radio_button :shipping_pay_eq, "0"
            = '送料込み(出品者負担)'
        .detail_search__group--checkbox
          %label
            = f.radio_button :shipping_pay_eq, "1"
            = '着払い(購入者負担)'
      .detail_search__form__btn
        .detail_search__form__btn--grey
          = link_to "クリア", "/searches",type: "button"
        = f.submit "検索", class:"detail_search__form__btn--red"