= render partial: 'layouts/header'

.top_view
  %section.top_visual

    .Contents
      %h2.Contents__title 人生を変えるフリマアプリ
      %p.Contents__subtitle
        FURIMAはだれでもかんたんに出品・購入できる
        %br フリマアプリです
      .Contents__btn
        =link_to "#" do
          =image_tag "https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2012-06-28&kind=iossoftware&bubble=ios_apps", class: 'app_btn'
        =link_to "https://www.google.com/" do
          =image_tag "google-play-badge.png", class: 'google_btn'



  %section.reason
    %h2.reason__title FURIMAが選ばれる３つの理由
    %hr.under_bar
    %ul.reason__lists
      %li.list
        .list__picture.no1
          .number 1
        %h3.list__text
          %span ３分
          ですぐに出品
        %p.list__descri スマホで入力するだけで
        出品できる！

      %li.list
        .list__picture.no2
          .number 2
        %h3.list__text
          %span シンプル
          で使いやすい
        %p.list__descri めんどくさい入力は必要なく、
        検索も購入もスムーズ！

      %li.list
        .list__picture.no3
          .number 3
        %h3.list__text
          手数料
          %span 業界最安
        %p.list__descri 最大3%でお得に出品&購入！

  %section.middle_view
    .Contents
      %h2.Contents__title 会員登録数日本一
      %p.Contents__subtitle
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .Contents__btn
        =link_to "https://apps.apple.com/us/app/google-chrome/id535886823?mt=8" do
          =image_tag "https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2012-06-28&kind=iossoftware&bubble=ios_apps", class: 'app_btn'
        =link_to "https://grasschord.com" do
          =image_tag "google-play-badge.png", class: 'google_btn'


  %section.buyAndsell
    %h2.buyAndsell__title FURIMAの特徴
    %hr.under_bar
    .buyAndsell__lists
      %section.list
        .list__image.no1
        %h3.list__subtitle 簡単に売り買いできる
        %p.list__apile スマホひとつで、いつでもどこでも簡単に出品・購入が可能！

      %section.list
        .list__image.no2
        %h3.list__subtitle 売上金は即日振込みに対応
        %p.list__apile 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!

      %section.list
        .list__image.no3
        %h3.list__subtitle 様々な支払いに対応
        %p.list__apile お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  .topic_contents
    %h2.topic_head ピックアップカテゴリー
    .topicBox
      .topicBox__head
        =link_to "/" do
          %h3.Title 新規投稿商品
      .topiclists.no1
        .jscroll
          - @items.each do |item|
            .topiclist
              =link_to item_path(id: item.id) ,class:"topiclist__item" do
                -item.images.first(1).each do |image|
                  = image_tag image.image.url, class:"topiclist__item__img"
                .topiclist__body
                  = item.name.truncate(13)
                  .place
                    %ul
                      = item.price
                      円
                      %li
                        -# %i{class:"fa fa-star likeicon"}0
                        -if item.shipping_pay == "exhibitor"
                          送込
                        - else
                          送別
                    %p （税込)
          .scroll
            = link_to_prev_page @items, '前', class: "prev"
            = link_to_next_page @items, '次', class: "next"
  %section.topic_brand
    %h2.topic_head ピックアップアイテム
    .topicBox
      .topicBox__head
        =link_to "/" do
          %h3.Title 注目のアイテム
      .topiclists
        - @random.each do |item|
          .topiclist
            =link_to item_path(id: item.id) ,class:"topiclist__item" do
              -item.images.first(1).each do |image|
                = image_tag image.image.url, class:"topiclist__item__img"
              .topiclist__body
                = item.name.truncate(13)
                .place
                  %ul
                    = item.price
                    円
                    %li
                      -# %i{class:"fa fa-star likeicon"}0
                      -if item.shipping_pay == "exhibitor"
                        送込
                      - else
                        送別
                  %p （税込）

= render partial: 'layouts/footer'

= render partial: 'layouts/puts_up'
