.top_icon
  =image_tag(asset_path("logo.png"))
- breadcrumb :item_new
= render "layouts/breadcrumbs"
.contents
  =form_with model: @item, method: :post, local: true do |f|
    .item
      .title
        .title__header
          出品画像
        .title__require
          必須
      %p.comments
        最大5枚までアップロードできます
      #image-box.post-image-list__box
        #previews.preview_list
          -# バリデーションエラー時cacheに値がセットされている場合は画像を表示
          -if @item.images[0].image.url.present?
            -@item.images.each_with_index do |image, i|
              .preview_image_box{id: "preview_image_box__#{i}"}
                .upper-box
                  =image_tag image.image.url, alt:"preview", width: "120", height: '120', class: "preview_image", id: "preview_image"
                .update_box
                  .js-remove{id: "delete_btn_#{i}"}
                    %span 削除
        %label{for: "item_images_attributes_0_image", class: "image_input_btn", id: "image_input_btn--0"} 
          #posts.post_form
            =image_tag('icon_camera.png', class: "image_input_btn_camera")
            .image_input_btn_text クリックしてファイルをアップロード
        .hidden_post_form
          =f.fields_for :images do |image|          
            -# 画像がビルドされた際に振られるidを取得
            %div{ data: {index: "#{image.index}" }, class: "js-file_group" }
              =image.file_field :image, class:"js-file" 
              -# cacheを使用するためにhidden_fieldを設置
              =image.hidden_field :image_cache

    %hr
    .item
      .title
        .title__header
          商品名
        .title__require
          必須
      .item_text
        = f.text_field :name, autocomplete:"off", class: "titlename text_box", placeholder: "40文字まで", type: "text", maxlength: "40"
      .title
        .title__header
          商品の説明
        .title__require
          必須
      .explanation_text
        = f.text_area :explanation, autocomplete:"off", class: "explanation big_text_box", placeholder: "商品の説明（必須1000文字以内）", maxlength: "1000"
    %hr
    .item
      .title
        .title__nav
          商品の詳細
      .container.category_0__container
        .title
          .title__header
            カテゴリー
          .title__require
            必須
        .column.form_category
          = f.collection_select :category_id, Category.where(ancestry: nil), :id, :name, {prompt: "メインカテゴリを選ぶ"}, {class: "category_0 text_box"}
      .container.category_1__container
        .title
        .column.form_category
          = f.collection_select :category_id, {}, :id, :name, {prompt: "メインカテゴリを選んでください"}, {class: "category_1 text_box"}
      .container.category_2__container
        .title
        .column.form_category
          = f.collection_select :category_id, {}, :id, :name, {prompt: "メインカテゴリを選んでください"}, {class: "category_2 text_box"}
      .container
        .title
          .title__header
            ブランド
          .title__any
            任意
        .column
          = f.collection_select :brand_id, Brand.all, :id, :name, {prompt: "ブランドを選ぶ"}, {class: "text_box"}
      .container.bottom_container
        .title
          .title__header
            商品の状態
          .title__require
            必須
        .column
          = f.select :condition, Item.conditions_i18n.keys.map{|k| [I18n.t("enum.item.condition.#{k}"), k] }, {}, class: "condition text_box"
    %hr
    .item
      .title
        .title__nav
          配送について
      .container
        .title
          .title__header
            配送料の負担
          .title__require
            必須
        .column
          =f.select :shipping_pay, Item.shipping_pays_i18n.keys.map{|k| [I18n.t("enum.item.shipping_pay.#{k}"), k] }, {}, class: "shipping_pay text_box"
      .container
        .title
          .title__header
            発送元の地域
          .title__require
            必須
        .column
          = f.select :shipping_area, Item.shipping_areas_i18n.keys.map{|k| [I18n.t("enum.item.shipping_area.#{k}"), k] }, {prompt: "発送元の地域を選ぶ"}, class: "shipping_area text_box"
      .container.bottom_container
        .title
          .title__header
            発送までの日数
          .title__require
            必須
        .column
          =f.select :shipping_period, Item.shipping_periods_i18n.keys.map{|k| [I18n.t("enum.item.shipping_period.#{k}"), k] }, {}, class: "shipping_period text_box"
    %hr
    .item
      .title
        .title__nav
          価格（¥300〜9,999,999）
      .container.bottom_container
        .title
          .title__header
            販売価格
          .title__require
            必須
        .price_text
          ¥
          = f.number_field :price, class: "price text_box", placeholder: "0", min:"300", max:"9999999", type: "number"
    .button_area
      .puts_up_btn
        =f.submit "出品する", id: "submit"
      -# .save_btn
      -#   =f.submit "下書きに保存", name: "draft"
      -# .save_btn
      -#   %button{ onclick: "#", type: "submit", value: ""}下書きに保存
      .return
        =link_to "もどる", root_path
    .notice_bottom
      禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
.bottom_area
