= render partial: 'layouts/header'
- breadcrumb :item_show
= render "layouts/breadcrumbs"
.main
  .showmain
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name
            =@item.name
          .itemBox__body
            %ul
              %li
                = image_tag @item.images.first.image.url, class: "main_image"
                %ul
                  - @item.images.each do |image|
                    %li
                      = image_tag image.image.url, class: "thumbnails"

          .itemBox__price
            %span
              = "#{@item.price}円"
            .itemBox__price-detail
              %span (税込)
              %span 送料込
          .btn-block
            -if @item.status == 'sold'
              .btn-block__purchase SOLD OUT

            - elsif user_signed_in? && current_user.id == @item.user_id
              =link_to "商品を編集する", edit_item_path(@item.id), method: :get, class: "btn-block__edit"
              =link_to "商品を削除する", item_path(@item.id), data: { confirm: '【確認】本当に削除しますか？' }, method: :delete, class: "btn-block__delete"

            - elsif user_signed_in?
              =link_to "購入画面に進む", confirm_purchase_path(@item), class: "btn-block__purchase"
            - else
              =link_to "購入画面に進む", new_user_session_path, class: "btn-block__purchase"

          .itemDetail
            =@item.explanation
          .table
            %table
              %today
                %tr
                  %th 出品者
                  %td
                    = @item.user.nickname
                %tr
                  %th カテゴリー
                  %td
                    %a(href= "#")
                      = @main_category.name
                    %br
                    %a(href= "#")
                      = @sub1_category.name
                    %br
                    %a(href= "#")
                      = @item.category.name
                %tr
                  %th ブランド
                  %td
                    = @item.brand.name if @item.brand.present?
                -# 現状、出品機能にサイズ入力欄が無いためコメントアウト
                -# %tr
                -#   %th 商品のサイズ
                -#   %td
                %tr
                  %th 商品の状態
                  %td
                    = @item.condition_i18n
                %tr
                  %th 配送料の負担
                  %td
                    = @item.shipping_pay_i18n
                %tr
                  %th 発送元の地域
                  %td
                    = @item.shipping_area_i18n
                %tr
                  %th 発送日の目安
                  %td
                    =@item.shipping_period_i18n
                    .purchase
          .optionalArea
            %ul
              %li.optionalBtn.likeBtn#likeBtn
                %i.fa.fa-star お気に入り 1
            %ul.optional
              %li.optionalBtn
                = link_to "#" do
                  %i.fa.fa-flag 不適切な商品の通報
        .commentBox
          %p.noticeMsg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br/
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %br/
          %ul.commentContents
            - if current_user
              = form_with(model: [@item, @comment], local: true) do |form|
                = form.text_area :text, placeholder: "コメントする(150文字まで入力可能）", rows: "2", maxlength: "150", class: 'form-control  js-text'
                %p.js-text-count.pull-right
                = form.submit "SEND"
            - else
              %strong
                %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
            .comments
              %h4 ＜コメント一覧＞
              - if @comments
                - @comments.each do |comment|
                  .comments__area
                    .comment_creater
                      .comment_name
                        = comment.user.nickname
                      .comment_date  
                        = comment.created_at.strftime("%m/%d %H:%M")
                    .comment_text
                      = comment.text
         
= render partial: 'layouts/footer'
= render partial: 'layouts/puts_up'
