= render partial: 'layouts/header'
- breadcrumb :item_show
= render "layouts/breadcrumbs"
.main
  .showmain
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name
            =@item.name
          .itemBox__body
            %ul
              %li
                = image_tag @item.images.first.image.url, class: "main_image"
                %ul
                  - @item.images.each do |image|
                    %li
                      = image_tag image.image.url, class: "thumbnails"

          .itemBox__price
            %span
              = "#{@item.price}円"
            .itemBox__price-detail
              %span (税込)
              %span 送料込
          .btn-block
            - if user_signed_in? && current_user.id == @item.user_id
              =link_to "商品を編集する", edit_item_path(@item.id), method: :get, class: "btn-block__edit"
              =link_to "商品を削除する", item_path(@item.id), data: { confirm: '【確認】本当に削除しますか？' }, method: :delete, class: "btn-block__delete"

            - elsif user_signed_in?
              =link_to "購入画面に進む", confirm_purchase_path(@item), class: "btn-block__purchase"
            - else
              =link_to "購入画面に進む", new_user_session_path, class: "btn-block__purchase"

          .itemDetail
            =@item.explanation
          .table
            %table
              %today
                %tr
                  %th 出品者
                  %td
                    = @item.user.nickname
                %tr
                  %th カテゴリー
                  %td
                    %a(href= "#")
                      = @main_category.name
                    %br
                    %a(href= "#")
                      = @sub1_category.name
                    %br
                    %a(href= "#")
                      = @item.category.name
                %tr
                  %th ブランド
                  %td
                    = @item.brand.name if @item.brand.present?
                %tr
                  %th 商品のサイズ
                  %td
                %tr
                  %th 商品の状態
                  %td
                    = @item.condition_i18n
                %tr
                  %th 配送料の負担
                  %td
                    = @item.shipping_pay_i18n
                %tr
                  %th 発送元の地域
                  %td
                    = @item.shipping_area_i18n
                %tr
                  %th 発送日の目安
                  %td
                    =@item.shipping_period_i18n
                    .purchase
          .optionalArea
            %ul
              %li.optionalBtn.likeBtn#likeBtn
                %i.fa.fa-star お気に入り 1
            %ul.optional
              %li.optionalBtn
                = link_to "#" do
                  %i.fa.fa-flag 不適切な商品の通報
        .commentBox
          %ul.commentContents
            %form#new_comment.new_comment{ action: "#",method: "post"}
          %input{name: "utf8", type: "hidden", value: "✓"}/
          %input{name:  "authenticity_token", type: "hidden", value: "UZaji94lj/rTfLW3DcSaCXs2HPv6Ic+zHxCyGaZhfKQcIpGKWGwWxX9gCQcYcZ2SdCqU5NyBOUL3tc3504qWYA=="}
          %textarea#comment_body{name: "comment[body]", required: "required"}
          %p.noticeMsg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br/
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %br/
          %button.commentBtn-show{name: "button", type: "submit"}
            %i.fa.fa-comment
            コメントする
= render partial: 'layouts/footer'
= render partial: 'layouts/puts_up'
